 /*
 Ionicons, v2.0.1
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons


    STylenya coyyy

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.


*/

body,html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html {
    line-height: 1.8;
    height: 100%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-moz-selection {
    background: none repeat scroll 0 0 #14a852;
    color: #111;
    text-shadow: none;
}

::selection {
    background: none repeat scroll 0 0 #14a852;
    color: #111;
    text-shadow: none;
}

.article br {
    display: block;
    margin: 4px 0;
}

main {
    flex: 1 0 auto;
}

blockquote {
    border-left: 2px solid #14a852;
}

input[type=email]:not(.browser-default),input[type=text]:not(.browser-default),textarea.materialize-textarea {
    border-bottom: 1px solid #d7d7d7;
}

input[type=email]:not(.browser-default):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #14a852;
    -webkit-box-shadow: 0 1px 0 0 #14a852;
    box-shadow: 0 1px 0 0 #14a852;
}

input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
    color: #444;
}

.flat-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d7d7d7;
}

.flat-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

pre {
    font-size: .87em!important;
    padding: 50px 20px 40px;
    overflow-x: auto;
    position: relative;
    border-radius: 7px 7px 0 0;
}

pre::after {
    content: "__";
    position: absolute;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    bottom: 20px;
    left: 25px;
}

.no-border {
    border: 0!important;
    box-shadow: none!important;
}

.highlight {
    position: relative;
    margin-top: 50px;
    margin-bottom: 46px;
}

.highlight::before {
    content: "";
    position: absolute;
    max-width: 660px;
    width: 100%;
    height: 25px;
    background: #ddd;
    top: 0;
    border-radius: 7px 7px 0 0;
    background-image: url(/images/assets/dots.png);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    z-index: 2;
}

.highlight code::after {
    content: attr(data-lang);
    position: absolute;
    font-size: 14px;
    font-family: inherit;
    display: block;
    background: 0 0;
    top: -2px;
    right: 0;
    padding: .2em 1em;
    color: #8d8b8b;
    border: 0 solid #ece9e2;
    z-index: 99;
}

@keyframes blink {
    from,to {
        color: transparent;
    }

    50% {
        color: #000;
    };
}

@-moz-keyframes blink {
    from,to {
        color: transparent;
    }

    50% {
        color: #000;
    };
}

@-webkit-keyframes blink {
    from,to {
        color: transparent;
    }

    50% {
        color: #000;
    };
}

@-ms-keyframes blink {
    from,to {
        color: transparent;
    }

    50% {
        color: #000;
    };
}

@-o-keyframes blink {
    from,to {
        color: transparent;
    }

    50% {
        color: #000;
    };
}

code {
    background: #eee;
    padding: 3px 5px;
    font-size: 80%;
    word-wrap: break-word;
}

pre code {
    background: 0 0;
    font-size: 90%;
    padding: 0;
}

hr {
    border: 1px solid #eee;
}

.btn-large {
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    padding: 0 28px;
}

.theme-divider {
    background: #d7d7d7;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.np {
    padding: 0!important;
}

.nm {
    margin: 0!important;
}

.dark-c {
    color: #333;
}

.lighter-c {
    color: #555;
}

.light-c {
    color: #888;
}

.grey-c {
    color: #b0acac;
}

.invert-c {
    color: #fff;
}

.theme-c {
    color: #14a852;
}

.dark-bg {
    background-color: #333;
}

.lighter-bg {
    background-color: #555;
}

.light-bg {
    background-color: #eee;
}

.theme-bg {
    background-color: #14a852!important;
}

.invert-bg {
    background-color: #fff!important;
}

.tr-bg {
    background-color: transparent;
}

.ff-a {
    font-family: MaisonNeue,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Lucida Grande",sans-serif;
}

.ff-b {
    font-family: Lato,sans-serif;
}

.thin {
    font-weight: 300;
}

.reg {
    font-weight: 400;
}

.med {
    font-weight: 500;
}

.sem {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

strong {
    font-weight: 700;
}

.it,em {
    font-style: italic;
    font-weight: 300;
    color: #888;
}

a,b,strong {
    color: #444;
    font-weight: 500;
}

.text-sss {
    font-size: 8px!important;
}

.text-ss {
    font-size: 10px!important;
}

.text-s {
    font-size: 13px!important;
}

.text-m {
    font-size: 15px!important;
}

.text-l {
    font-size: 1.3rem!important;
}

.text-xl {
    font-size: 1.6rem!important;
}

.up {
    text-transform: uppercase;
}

.low {
    text-transform: lowercase;
}

.cap {
    text-transform: capitalize;
}

.heading-ss {
    font-size: .8rem;
}

.heading-s {
    font-size: 1.1rem;
}

.heading-m {
    font-size: 1.7rem;
}

.heading-l {
    font-size: 2.4rem;
}

.ib {
    display: inline-block;
}

.b {
    display: block;
}

#outer-wrapper {
    max-width: 1390px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.greyit {
    background-color: #f7f7f7;
}

.lighit {
    background-color: transparent;
}

.row.row-index {
    margin-bottom: 0;
}

nav {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav ul li {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    float: left;
}

nav ul a {
    font-weight: 300;
}

nav ul a:hover {
    background-color: transparent;
}

.nav.navigation {
    transition: background-color .4s linear;
    background: 0 0;
    border-bottom: 0;
    max-width: 1390px;
}

.nav.navigation.nav-grey {
    background: #f7f7f7;
    border-bottom: 1px solid #e6e6e6;
}

.nav.navigation.nav-white {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.navbar-fixed {
    height: 0!important;
}

.search-icon,.trans {
    -webkit-transition: all .9s ease-out;
    -moz-transition: all .9s ease-out;
    -ms-transition: all .9s ease-out;
    -o-transition: all .9s ease-out;
    transition: all .9s ease-out;
}

nav .brand-logo {
    padding: 6px;
}

.logo {
    max-width: 40px;
    width: 100%;
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
}

.hide-on-med-and-down.thin.cap {
    margin-right: 0;
    text-align: center;
    overflow: hidden;
    display: block;
    text-transform: uppercase;
    font-weight: 300;
}

nav form {
    height: 50px;
}

.right.menu-search {
    background: 0 0;
    position: absolute;
    padding: 0;
    right: 20px;
    bottom: -52px;
    max-width: 300px;
    width: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1.5s ease;
    display: inline-block;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0);
    overflow: hidden;
}

.right.menu-search.slide-search {
    background: #eee;
    padding: 2px 20px 0;
    opacity: 1;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
}

.menu-search .input-field input[type=search]:focus:not(.browser-default) {
    background: #eee;
}

.menu-search input[type=search]:not(.browser-default) {
    border: 0;
}

.right.menu-search input[type=search]:not(.browser-default)::placeholder {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    color: #999;
    opacity: 0;
}

.right.menu-search.slide-search input[type=search]:not(.browser-default)::placeholder {
    opacity: 1;
}

.right.menu-search .ais-search-box--magnifier.top-search {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
    cursor: pointer;
}

.top-search {
    border: 0;
    left: -12px!important;
}

.right.menu-search.slide-search .ais-search-box--magnifier.top-search {
    opacity: 1;
}

.search-form {
    padding: 0 20px;
    max-width: 90%;
    margin: 0 auto;
}

.menu-search .input-field input {
    padding-left: 25px;
    max-width: 230px;
    color: #444;
    font-weight: 300;
}

.ais-search-box--magnifier.top-search {
    fill: #bfc7d8;
    left: 0;
    top: calc(50% - 18px/2);
}

input.top-input[type=search]:not(.browser-default) {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-bottom: 0 solid #14a852;
    box-shadow: 0 0 0 0 #14a852;
    font-weight: 300;
}

input.top-input::placeholder {
    color: #777;
}

input.top-input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 0 solid #14a852;
    box-shadow: 0 0 0 0 #14a852;
}

#hits {
    padding: 40px 0;
}

.ais-search-box {
    max-width: 100%;
    padding: 0 45px;
    background: #eee;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
    transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
}

.ais-search-box input[type=text]:not(.browser-default) {
    border: 0;
}

.ais-search-box input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 0 solid #14a852;
    -webkit-box-shadow: 0 0 0 0 #14a852;
    box-shadow: 0 0 0 0 #14a852;
}

.ac {
    font-size: 12px;
    margin-top: 10px;
    text-align: right;
}

.algolia-logo {
    width: 60px!important;
    position: relative;
    top: 3px;
}

.rel-result {
    display: inline-block;
}

.heading-result {
    margin: 20px 0 5px!important;
}

.heading-result em {
    font-weight: 700;
    border-bottom: 3px solid #14a852;
}

.url-result {
    margin: 0;
    color: #9c9c9c;
    font-size: 14px;
}

#stats {
    margin-top: 40px;
}

.hit-description {
    margin: 0;
}

.hit-description em {
    font-weight: 700;
    background: #14a852;
    color: #333;
    padding: 1px 5px 2px;
}

.ais-pagination {
    padding: 0!important;
    margin: 0!important;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
}

.ais-pagination--item__active {
    background: #14a852;
    border-radius: 50%;
}

.ais-pagination--item {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 1.5;
}

#pagination ul li::before {
    content: initial;
}

.ais-pagination--item:hover,.ais-pagination--item__active:hover {
    background: #eee;
}

.ais-pagination--link:hover {
    color: #444;
}

.ais-pagination--item__active .ais-pagination--link {
    color: #444;
}

.front-hero {
    display: block;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover!important;
    height: 100%;
    padding: 100px 20px 60px;
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
}

.banner-outer {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border: 4px solid #f9f9fa;
    margin: 0 auto;
}

.banner-inner {
    background-color: #f9f9fa;
    padding: 10px 10px 6px;
}

.banner-logo {
    max-width: 250px;
    width: 100%;
}

.section-heading {
    position: relative;
}

.section-heading h1,.section-heading h3 {
    padding: .3rem .8rem .3rem 1rem!important;
    background: #f7f7f7;
    position: relative;
    z-index: 3;
    left: -.5rem;
}

.section-heading::after {
    content: "";
    position: absolute;
    max-width: 1200px;
    width: 100%;
    height: 1px;
    background: #d7d7d7;
    right: .5rem;
    top: 45px;
    z-index: 1;
}

.section-heading.sh-index::after {
    top: 10px;
}

.section-link {
    position: absolute;
    right: 0;
    top: 27px;
    font-size: 13px;
    padding: .3rem .7rem .4rem;
    background: #f7f7f7;
    z-index: 3;
    border-radius: 20px;
    border: 1px solid #d7d7d7;
    margin-right: .5rem;
}

.featured-wrapper,.post-index-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.featured-wrapper.one {
    height: 420px;
}

.featured-wrapper.two,.post-index-wrapper.two {
    height: 210px;
}

.fp {
    padding: .5rem!important;
}

.card-img,.featured-thumb.thumb-center,.featured-thumb.thumb-right,.post-index-thumb.thumb-center,.post-index-thumb.thumb-right {
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover!important;
    background-position: center;
    height: 100%;
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
}

.thumb-right {
    background-position: center right;
}

.thumb-center {
    background-position: center center;
}

.featured-thumb,.post-index-thumb {
    box-shadow: 0 0 2px rgba(0,0,0,.01);
    border: 1px solid #ddd;
    border-radius: 7px;
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
}

.featured-thumb a,.post-index-thumb a {
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
}

.featured-wrapper.two .featured-thumb::after,.post-index-wrapper.two .post-index-thumb::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 40px;
    transition: all .4s ease-in-out 0s;
    opacity: .9;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    background: -moz-linear-gradient(top,rgba(73,160,157,0) 0,rgba(30,65,167,.5) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.8)));
    background: -webkit-linear-gradient(top,rgba(73,160,157,0) 0,rgba(30,65,167,.5) 100%);
    background: -o-linear-gradient(top,rgba(73,160,157,0) 0,rgba(30,65,167,.5) 100%);
    background: -ms-linear-gradient(top,rgba(73,160,157,0) 0,rgba(30,65,167,.5) 100%);
    background: linear-gradient(to bottom,rgba(73,160,157,0) 0,rgba(30,65,167,.5) 100%);
}

.featured-wrapper.two:hover .featured-thumb::after,.post-index-wrapper.two:hover .post-index-thumb::after {
    opacity: .1;
}

.featured-thumb:hover,.post-index-thumb:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.featured-wrapper.two .featured-content:hover .featured-thumb::after {
    opacity: .4;
}

.card-img {
    max-height: 230px;
}

.card-img::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

#featured .featured-wrapper:hover .featured-thumb,.card-img:hover {
    opacity: 1;
}

.featured-content,.post-index-content {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 40px;
    position: absolute;
}

.categories {
    padding: 10px 0;
}

.categories a,.post-categories a {
    padding: 9px 10px 5px;
    border-radius: 2px;
    text-transform: uppercase;
}

.meta-wrapper {
    text-align: center;
}

.featured-date-wrapper {
    margin-right: 15px;
    position: relative;
}

.featured-meta {
    padding: 5px 0;
    display: inline-block;
    color: #898585;
    font-style: italic;
    font-weight: 300;
}

.index-comment-wrapper {
    margin-left: 15px;
    color: #898585;
    font-style: italic;
    font-weight: 300;
}

.featured-meta {
    position: relative;
}

.featured-date-wrapper::after,.featured-meta::after {
    content: ".";
    position: absolute;
    right: -10px;
    font-weight: 700;
}

.card.lp-container {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.outer-title-wrap {
    border: 4px solid #fff;
    max-width: 85%;
    margin: -70px auto 0;
    position: relative;
    padding: 5px;
}

.inner-title-wrap {
    padding: 20px;
}

.item-label {
    padding: 5px 0;
}

.item-label i {
    position: relative;
    top: 3px;
}

.dot {
    font-size: 4px;
    margin: 0;
    position: relative;
    top: -3px;
}

.card .card-image .card-title {
    position: relative;
    padding: 0;
}

.card-content.cc {
    padding: 29px;
    border-radius: 0 0 2px 2px;
    margin: -50px auto 0;
    position: relative;
    max-width: 500px;
}

.card-content.cc p {
    padding: 0 30px;
    color: #666;
}

.lp-item-cat {
    padding: 0 5px;
    font-size: 11px;
}

.col.s12.l6.ff:nth-child(1) {
    width: 100%;
}

.col.s12.l6.ff:nth-child(1) .card-img {
    max-height: 450px;
}

.headband {
    position: relative;
    padding: 10px;
    margin-left: 15px;
    text-transform: uppercase;
}

.headband::before {
    content: "";
    position: absolute;
    background-color: #14a852;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 1;
    -webkit-transform: skew(-20deg,0);
    -moz-transform: skew(-20deg,0);
    -o-transform: skew(-20deg,0);
    -ms-transform: skew(-20deg,0);
    transform: skew(-20deg,0);
}

.headband::after {
    content: "";
    left: 0;
    right: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background-color: #14a852;
    position: absolute;
}

.card-image-wrapper {
    position: relative;
    margin-bottom: 25px;
    height: 195px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card-image {
    display: block;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover!important;
    height: 195px;
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    box-shadow: 0 0 2px rgba(0,0,0,.01);
}

.card-image::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 40px;
    transition: all .4s ease-in-out 0s;
    opacity: .9;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    background: -moz-linear-gradient(top,rgba(73,160,157,.5) 0,rgba(0,0,0,.7) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.8)));
    background: -webkit-linear-gradient(top,rgba(73,160,157,.5) 0,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top,rgba(73,160,157,.5) 0,rgba(0,0,0,.7) 100%);
    background: -ms-linear-gradient(top,rgba(73,160,157,.5) 0,rgba(0,0,0,.7) 100%);
    background: linear-gradient(to bottom,rgba(73,160,157,0) 0,rgba(0,0,0,.7) 100%);
}

.card-image-wrapper:hover .card-image::after {
    opacity: .2;
}

.card-image img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.card-image-content {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 15px;
    position: absolute;
}

.card-title {
    text-transform: initial;
}

.index-wrap {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.index-wrap .col {
    padding: .5rem .5rem;
}

.index-wrap .index-col:nth-child(1),.index-wrap .index-col:nth-child(6) {
    width: 100%;
}

.post-list-wrap {
    margin: 0 auto 70px;
    max-width: 700px;
    width: 100%;
    padding: 0 0 40px;
}

.post-list-wrap h2 {
    margin-top: 10px;
    position: relative;
}

.index-blurb {
    margin: 0 0 20px;
    color: #b1b1b1;
}

.rdm-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #cfcfcf;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    height: 50px;
    line-height: 35px;
    padding: 5px 10px 10px;
    color: #999;
    background: 0 0;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.rdm-btn:hover {
    border-color: #feda00;
    background: #feda00;
    color: #222;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.test {
    position: relative;
    background: #f7f7f7;
    padding: 5px 0 0 10px;
    left: -10px;
}

.flat-pagination {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.paginate .next a,.paginate .prev a {
    border-radius: 4px;
    border: 1px solid #eee;
    background: 0 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.more-post-wrap {
    max-width: 960px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.more-post {
    background: #f9f9fa;
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    transition: color .2s linear;
}

.more-post:hover {
    border: 1px solid #feda00;
    background: #feda00;
}

aside.col.s12.l3 {
    margin-top: 10px;
}

.sidebar.widget {
    border: 1px solid #eee;
    padding: 20px 10px;
    margin-bottom: 40px;
}

.widget-title {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 10px;
    z-index: 1;
}

.widget-title::before {
    content: "";
    position: absolute;
    background-color: #feda00;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 1;
    -webkit-transform: skew(-20deg,0);
    -moz-transform: skew(-20deg,0);
    -o-transform: skew(-20deg,0);
    -ms-transform: skew(-20deg,0);
    transform: skew(-20deg,0);
}

.widget-title::after {
    content: "";
    left: 0;
    right: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #feda00;
    position: absolute;
}

.sidebar-content {
    padding-top: 20px;
}

.wt-wrap.center-align {
    margin-top: -33px;
    margin-bottom: 20px;
    position: relative;
}

.pp {
    max-width: 200px;
    width: 100%;
}

.author-bio {
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
    color: #3b454f;
}

.author-si {
    padding: 0 5px;
}

.author-social.text-xl ul {
    padding: 10px 0;
    margin: 0;
}

.author-social li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    font-size: 18px;
    position: relative;
}

.author-social a {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    padding: 6px;
    position: absolute;
}

.author-fb {
    background: #3b5ba4;
}

.author-twitter {
    background: #1db9f8;
}

.author-ig {
    background: #e4405f;
}

.author-gp {
    background: #ed543b;
}

.author-si i {
    position: relative;
    bottom: 6px;
}

.btn.ds {
    background: 0 0;
    color: #9f9f9f;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hot-tags {
    margin: 0 auto;
    text-align: center;
}

.hot-tags li {
    display: inline-block;
}

.hot-tags li a {
    font-size: 12px;
    font-weight: 300;
    margin: 0 5px 5px 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #999;
    border-radius: 20px;
    background: #fff;
    text-decoration: none;
    padding: 0 27px 0 10px;
    display: -webkit-box;
    vertical-align: middle;
    line-height: 22px;
    text-align: center;
    position: relative;
}

.hot-tags span[dir] {
    background: #444;
    font-size: 80%;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: grid;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.25),0 3px 3px 0 rgba(0,0,0,.15);
    opacity: 1;
    top: -28px;
    color: #fff;
    left: -6px;
    float: right;
}

.hero {
    position: relative;
    overflow: hidden;
}

.parallax-container::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 40px;
    background: -moz-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(95,44,130,.5) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.8)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(95,44,130,.5) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(95,44,130,.5) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(95,44,130,.5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(95,44,130,.2) 100%);
}

.page-hero-wrapper {
    margin-top: 64px;
    padding: 30px 15px 0;
}

.post-hero {
    display: block;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover!important;
}

.post-hero::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.parallax-container .parallax img {
    min-width: 100.1%;
}

.page-meta {
    color: #333;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    -ms-transition: all .8s ease-out;
    -o-transition: all .8s ease-out;
    transition: all .8s ease-out;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0) scale(1);
    opacity: 1;
}

.post-meta {
    color: #fff;
    max-width: 700px;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    -ms-transition: all .8s ease-out;
    -o-transition: all .8s ease-out;
    transition: all .8s ease-out;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(-50%,-50%);
    opacity: 1;
}

.post-title h1 {
    text-shadow: none;
    font-weight: 700;
}

.page-title {
    max-width: 700px;
    margin: 0 auto;
    display: inline-block;
}

.page-title h1 {
    position: relative;
    max-width: 700px;
    width: 100%;
    display: inline-block;
    padding: 10px;
}

.page-title h1::before {
    content: "";
    position: absolute;
    background-color: #feda00;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 1;
    -webkit-transform: skew(-20deg,0);
    -moz-transform: skew(-20deg,0);
    -o-transform: skew(-20deg,0);
    -ms-transform: skew(-20deg,0);
    transform: skew(-20deg,0);
}

.page-title h1::after {
    content: "";
    left: 0;
    right: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: #feda00;
    position: absolute;
}

.blurb {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    font-family: Georgia;
    font-size: 1.4rem;
    color: #ededed;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1,;
}

.shade {
    text-shadow: 1px 1px 5px #222;
}

.post-content-header {
    margin: -60px auto 0;
    max-width: 700px;
    padding: 10px 20px;
    position: relative;
}

.post-logo {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 4px;
    border: 4px solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.post-info {
    width: 300px;
    position: relative;
    margin-top: -40px;
    padding: 0 0 0 80px;
    color: #999;
}

.post-info::after {
    position: absolute;
}

.datemodified {
    display: none;
}

.post-content strong {
    font-weight: 600;
}

.post-content .greyout strong {
    font-weight: 700;
}

.post-content,.post-footer {
    margin: 0 auto 0;
    max-width: 700px;
    padding: 0 20px;
    overflow: hidden;
}

.post-footer {
    margin: 0 auto;
}

.post-content figure img,.post-content img {
    max-width: 100%;
    width: 100%;
    height: auto!important;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    cursor: pointer;
}

.noborder {
    border: 0;
    box-shadow: none;
    text-align: center;
}

.material-placeholder {
    text-align: center;
}

.post-content figure {
    margin: 0 auto 10%;
}

.post-content figure img {
    margin: 1.8rem 0 0;
}

.post-content figcaption h4 {
    font-size: 12px;
    font-weight: 300;
    color: #333;
    font-family: inherit;
    margin: 0;
    text-align: center;
    font-style: italic;
    text-transform: inherit;
    line-height: 150%;
}

.fade,.post-categories a {
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    -ms-transition: all .8s ease-out;
    -o-transition: all .8s ease-out;
    transition: all .8s ease-out;
}

.post-categories {
    margin-bottom: 10px;
}

.article {
    margin-bottom: 30px;
}

.article p:first-child:first-letter {
    color: #333;
    float: left;
    font-family: inherit;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    padding: 0 5px;
    margin-top: 10px;
    margin-right: 5px;
    initial-letter: 2;
}

.article blockquote p:first-child:first-letter,.article ol p:first-child:first-letter,.article table p:first-child:first-letter,.article ul p:first-child:first-letter {
    color: initial;
    float: initial;
    font-family: initial;
    font-weight: initial;
    font-size: initial;
    line-height: initial;
    padding: initial;
    margin-top: 0;
    margin-right: 0;
    initial-letter: initial;
}

.post-content .greyout {
    margin-bottom: 30px;
    background-color: #eee;
    border-radius: 5px;
}

.post-content .greyout td,.post-content .greyout th {
    padding: 15px 15px;
}

.post-content p {
    color: #3b454f;
    font-size: calc(15px + .25vw);
    font-family: MaisonNeue,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Lucida Grande",sans-serif;
    font-weight: 300;
    margin-bottom: 5%;
    margin-top: 10px;
}

.post-content p strong {
    font-weight: 500;
}

.post-content blockquote p:first-child:first-letter {
    color: inherit;
    float: none;
    font-family: Georgia;
    font-size: inherit;
    line-height: inherit;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 0!important;
    initial-letter: 0;
}

.post-content blockquote p {
    font-family: Georgia;
    font-size: calc(15px + .25vw);
    color: #999;
}

.post-content p a {
    border-bottom: 2px solid #feda00;
}

.post-content p a:hover {
    border-bottom: 2px solid #333;
}

.post-content h1,.post-content h2,.post-content h3,.post-content h4 {
    font-family: MaisonNeue,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Lucida Grande",sans-serif;
    text-transform: initial;
}

.post-content h1,.post-content h2 {
    color: #555;
    font-weight: 400;
}

.post-content h3,.post-content h4 {
    color: #10a2ba;
    font-weight: 400;
}

.post-content h1 {
    font-size: calc(2.3rem + .25vw);
    margin: 2.8rem 0 0 0;
}

.post-content h2 {
    font-size: calc(1.58rem + .25vw);
    margin: 2.3733333333rem 0 0 0;
}

.post-content h3 {
    font-size: calc(1.34rem + .25vw);
    margin: 1.9466666667rem 0 0 0;
}

.post-content h4 {
    font-size: calc(1.26rem + .25vw);
    margin: 1.52rem 0 0 0;
}

.post-content ol,.post-content ul {
    font-weight: 300;
    font-size: calc(14px + .25vw);
    font-family: MaisonNeue,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Lucida Grande",sans-serif;
}

.post-content ol li ol li {
    list-style-type: lower-alpha;
}

.post-content ul {
    list-style-position: outside;
    margin: 0 20px;
}

.post-content ul {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.post-content ul li {
    list-style-type: none;
    position: relative;
}

.post-content ul li::before {
    content: "\f21b";
    position: absolute;
    font-family: Ionicons;
    left: -20px;
    font-size: 10px;
    top: 7px;
    color: #444;
}

.post-content ul li ul li::before {
    content: "\f401";
    position: absolute;
    font-family: Ionicons;
    left: -20px;
    font-size: 10px;
    top: 7px;
    color: #444;
}

.post-content ol li ul li::before {
    content: "\f401";
    position: absolute;
    font-family: Ionicons;
    left: -20px;
    font-size: 10px;
    top: 7px;
    color: #444;
}

.disclosure {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 10px 20px;
    background: #ebf4f3;
    margin: 40px 0 20px;
}

.disclosure p {
    font-size: 15px;
    color: #8f8f8f;
}

.post-tag ul li::before {
    content: initial;
}

.post-content ol li p {
    margin-bottom: 2%;
}

.footnotes ol li {
    font-size: 80%;
    padding-top: 70px;
    margin-top: -70px;
}

.footnote-ref {
    padding-top: 70px;
    margin-top: -70px;
}

.post-content ol li,.post-content ul li {
    margin-bottom: 2%;
    color: #3b454f;
}

.post-content ol li:last-child,.post-content ul li:last-child {
    margin-bottom: 5%;
}

.post-content ol li p:first-child:first-letter,.post-content table p:first-child:first-letter,.post-content ul li p:first-child:first-letter {
    color: inherit;
    float: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 0!important;
    initial-letter: 0;
}

.ion-ios-pricetags-outline.tag-icon {
    font-size: 25px;
    position: relative;
    margin-right: 10px;
    top: 5px;
    color: #000;
}

.post-tag {
    margin-bottom: 20px;
}

.post-tag a {
    color: #606060;
    border: 1px solid #b7b7b7;
    background: 0 0;
    border-radius: 3px;
    padding: 3px 7px 3px 7px;
}

.post-tag a:hover {
    color: #111;
    border-color: #feda00;
    background: #feda00;
}

.post-tag ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.post-tag ul li {
    display: inline-block;
    list-style: none;
}

.ss-wrap {
    padding: 15px 0 0;
    margin-bottom: 0;
}

.ss-wrap ul {
    padding-left: 0;
    font-size: 16px;
    margin: 0;
}

.ss-wrap ul li {
    list-style: none;
    padding-left: 0;
}

.ss-wrap ul li::before {
    content: initial;
}

.ss-wrap .col {
    padding-left: 0!important;
}

.share-icon-bg {
    border-radius: 3px;
    overflow: hidden;
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
}

.share-icon-bg a {
    line-height: 40px;
    display: block;
}

.fb-bg {
    background: #3a579a;
}

.fb-bg:hover {
    background: #2f4a8a;
}

.twitter-bg {
    background: #00abf0;
}

.twitter-bg:hover {
    background: #0797d1;
}

.gplus-bg {
    background: #df4a32;
}

.gplus-bg:hover {
    background: #cb4a35;
}

.fb-si,.gplus-si,.twitter-si {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.fb-si {
    background: #3b5ba4;
    font-size: 20px;
}

.twitter-si {
    background: #1db9f8;
}

.gplus-si {
    background: #ed543b;
    font-size: 20px;
}

.fb-si::before,.gplus-si::before,.twitter-si::before {
    position: relative;
}

.fb-si::before {
    left: 18px;
}

.gplus-si::before,.twitter-si::before {
    left: 15px;
}

.share-label {
    font-family: Lato;
    font-weight: 300;
    display: inline-block;
    padding: 0 10px;
}

.post-author {
    background: 0 0;
    padding: 20px 0 10px;
    border-radius: 10px;
    border: 0 solid #ededed;
}

.post-author,.related-wrap {
    margin: 0 0 30px;
}

.avatar-wrap {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.avatar-wrap img {
    width: 100px;
}

.rel-text {
    display: block;
    margin-bottom: 0;
    font-family: Lato;
    color: #444;
    text-align: left;
}

.related-wrap ul {
    font-family: Lato,Arial,Sans-Serif;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.related-wrap ul li {
    list-style: none;
    text-align: left;
    margin: 5px 0;
    line-height: 150%;
    border-bottom: 0 dashed #444;
}

.related-wrap ul li:hover {
    border-bottom: 0 dotted #444;
}

.related-wrap ul li a {
    font-weight: 300!important;
    display: block;
    color: #666;
    font-weight: 700;
    text-decoration: none;
    text-align: left;
}

.related-title {
    margin-top: 10px;
}

.r-wrap {
    position: relative;
    height: 187px;
    overflow: hidden;
}

.relim-wrap {
    height: 197px;
}

.related-img {
    display: block;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover!important;
    height: 100%;
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
}

.relim-wrap:hover .related-img {
    opacity: .7;
}

.bikini-bottom {
    padding: 40px;
}

.site-social i {
    font-size: 15px;
}

.site-copyright {
    padding: 20px 0 15px;
    font-size: 13px;
    font-weight: 600;
}

.site-social ul li {
    margin: 1px;
    padding: 8px 5px 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: 0 0;
}

.site-social ul li a {
    color: #555;
}

.taxban-outer {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    border: 4px solid #f9f9fa;
}

.taxban-inner {
    background-color: #f9f9fa;
    padding: 30px 20px;
}

.footer {
    background: 0 0;
    font-size: 12px;
    font-weight: 400;
}

.footer nav {
    height: auto;
    line-height: 30px;
    background: 0 0;
    box-shadow: none;
}

.footer-logo {
    margin: 40px auto 20px;
    width: 30px;
}

.footer ul li {
    float: none;
}

.social-footer i {
    font-size: 2rem;
}

.back-to-top {
    font-size: 20px;
}

.back-to-top::before {
    position: relative;
    top: 5px;
}

.fw-content {
    padding: 25px 0;
}

.igimg {
    max-width: 142px;
    width: 100%;
}

.tribute {
    border: 0!important;
    box-shadow: none!important;
    max-width: 150px!important;
    width: 100%!important;
}

.tribute-logo {
    max-height: 220px;
    max-width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.tribute-logo::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

.hugo-logo {
    background-image: url(/images/assets/hugo.svg);
}

.hugo-logo:hover {
    background-image: url(/images/assets/hugo-l.svg);
}

.firebase-logo {
    background-image: url(/images/assets/firebase.svg);
}

.firebase-logo:hover {
    background-image: url(/images/assets/firebase-l.svg);
}

.gitlab-logo {
    background-image: url(/images/assets/gitlab.svg);
}

.gitlab-logo:hover {
    background-image: url(/images/assets/gitlab-l.svg);
}

.materialize-logo {
    background-image: url(/images/assets/meterialize.svg);
}

.materialize-logo:hover {
    background-image: url(/images/assets/meterialize-l.svg);
}

.jquery-logo {
    background-image: url(/images/assets/jQuery.svg);
}

.jquery-logo:hover {
    background-image: url(/images/assets/jQuery-l.svg);
}

.ionicons-logo {
    background-image: url(/images/assets/ionicons.svg);
}

.ionicons-logo:hover {
    background-image: url(/images/assets/ionicons-l.svg);
}

.gulp-logo {
    background-image: url(/images/assets/gulp.svg);
}

.gulp-logo:hover {
    background-image: url(/images/assets/gulp-l.svg);
}

.algo-logo {
    background-image: url(/images/assets/algolia.svg);
}

.algo-logo:hover {
    background-image: url(/images/assets/algolia-l.svg);
}

@media only screen and (max-width:993px) {
    .featured-wrapper.one {
        height: 210px;
    };
}

@media only screen and (max-width:500px) {
    .post-meta .ff-a.heading-l.nm {
        font-size: 1.7rem;
    };
}

@media only screen and (min-width:320px) {
    .bio-wrap {
        text-align: center;
    }

    .author-si i {
        left: 0;
    }

    .author-social {
        text-align: center;
    };
}


/* blog post awal */

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #14a852;
  }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
  }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }
  .blog-card .details, .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
  }
  .blog-card .details a {
    text-decoration: dotted underline;
  }
  .blog-card .details ul li {
    display: inline-block;
  }
  .blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
  }
  .blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
  }
  .blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
  }
  .blog-card .details .tags li {
    margin-right: 2px;
  }
  .blog-card .details .tags li:first-child {
    margin-left: -4px;
  }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  .blog-card .description h1, .blog-card .description h2 {
    font-family: Poppins, sans-serif;
  }
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
  }
  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #595853;
    margin-top: 5px;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #14a852;
    display: inline-block;
    position: relative;
    font-weight: bold;
  }
  .blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
  }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #14a852;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }
  .blog-card:hover .details {
    left: 0%;
  }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .blog-card.alt {
      flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      transform: skew(3deg);
    }
    .blog-card.alt .details {
      padding-left: 25px;
    }
  }
  

  /* podcast css */
  .podcast {
    background: white;
  }

  .podcast img {
    width: 650px;
    text-align: center;
    margin-bottom: 1px;
  }


@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
    font-style: italic;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #ff19d9;
}

.footer {
  background: #322f30;
  padding-bottom:10px;
  color: #f0f0f0
}

